---
- name: Install Resilio Repository
  become: yes
  apt_repository:
      repo: 'deb http://linux-packages.resilio.com/resilio-sync/deb resilio-sync non-free'
      state: present
  when: (ansible_distribution == "Ubuntu") and (resilio_sync_install)

- name: Install Resilio Repository
  become: yes
  copy:
      src: files/resilio-sync.repo
      dest: /etc/yum.repos.d/resilio-sync.repo
      mode: 0444
  when: (ansible_distribution == "Fedora") and (resilio_sync_install)

- name: Install Resilio Key
  become: yes
  apt_key:
      url: https://linux-packages.resilio.com/resilio-sync/key.asc
      state: present
  when: (ansible_distribution == "Ubuntu") and (resilio_sync_install)

- name: Install Resilio Key
  become: yes
  command: rpm --import https://linux-packages.resilio.com/resilio-sync/key.asc
  when: (ansible_distribution == "Fedora") and (resilio_sync_install)

- name: Install Resilio Sync
  become: yes
  apt:
      name: resilio-sync
      update_cache: yes
      state: present
      allow_unauthenticated: yes
  when: (ansible_distribution == "Ubuntu") and (resilio_sync_install)

- name: Install Resilio Sync
  become: yes
  shell: dnf --assumeyes install resilio-sync
  when: (ansible_distribution == "Fedora") and (resilio_sync_install)

- name: Reconfigure Systemd
  become: yes
  lineinfile:
      dest: /usr/lib/systemd/user/resilio-sync.service
      regexp: WantedBy=multi-user.target
      line: WantedBy=default.target
  when: resilio_sync_install

- name: Enable Sync As Normal User
  become: no
  command: systemctl --user enable resilio-sync
  when: resilio_sync_install

- name: Start Sync As Normal User
  become: no
  command: systemctl --user start resilio-sync
  when: resilio_sync_install
