{
    "agree_to_EULA": "yes",
    "device_name": "{{ ansible_hostname }}",
    "storage_path" : "{{ansible_user_dir}}/{{resilio_sync_storage_dir}}",
    "pid_file" : "{{ansible_user_dir}}/{{resilio_sync_configuration_dir}}/sync.pid",
    "use_upnp" : true,
    "directory_root" : "/",
    "directory_root_policy" : "all",
    "webui" :
    {
        "listen" : "0.0.0.0:8888",
        "login" : "{{ ansible_user_id }}",
        "password" : "{{ ansible_user_id }}",
        "allow_empty_password" : true,
        "dir_whitelist" : [ "{{ansible_user_dir}}" ]
    },
    "folder_defaults.delete_to_trash" : false,
    "bind_interface" : "{{ ansible_default_ipv4.macaddress }}"
}
